<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
        <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/> -->
        <style>

        </style>
    </head>
<body class="Jevelin clearfix" style="margin: 0;">
<!-- <section class="Jevelin clearfix"> -->
<div class="top clearfix">
    <div class="header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><i class="fab fa-digg"></i></label>
        <ul>
            <li><a href="#" class="lt">Home</a></li>
            <li><a href="#" class="lt">About</a></li>
            <li><a href="#" class="lt">Who's Speaking?</a></li>
            <li><a href="#" class="lt">Schedule</a></li>
            <li><a href="#" class="lt">Location</a></li>
            <li><a href="#" class="lt"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#" class="lt"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" class="lt"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </nav></div>

    <!-- <div class="links"> -->
         <!-- <div class="logo" style="justify-content: flex-start;"> -->
         <!-- <i class="fab fa-digg"></i>  -->
          <!-- </div> -->
        <!-- <a href="#" class="lt">Home</a> -->
        <!-- <a href="#" class="lt">About</a> -->
        <!-- <a href="#" class="lt">Who's Speaking?</a> -->
        <!-- <a href="#" class="lt">Schedule</a> -->
        <!-- <a href="#" class="lt">Location</a> -->
        <!-- <a href="#" class="lt"><i class="fab fa-google-plus-g"></i></a> -->
        <!-- <a href="#" class="lt"><i class="fab fa-facebook"></i></a> -->
        <!-- <a href="#" class="lt"><i class="fab fa-twitter"></i></a> -->
    <!-- </div>--><br><br><br><br>

    <p class="title" style="font-weight: 10;"> Jevelin <strong style="font-weight: bold;">landing page</strong> event</p>
    <p class="lower">send us your email & we will save you a seal</p>
    <div class="Sub">
    <input type="email" id="email" name="email" placeholder="Enter your email here"><br><br>
    <button class="SN">Subscribe Now</button></div>
    <div class="separator">
    <div class="line"></div>
    <p><i class="far fa-clock"></i></p>
    <div class="line"></div></div>
    <!-- <div class="emoji"> -->
        <!-- <a href="#" class="emo">&#127955;</a> -->
        <!-- <a href="#" class="emo">&#127951;</a> -->
        <!-- <a href="#" class="emo">&#127952;</a> -->
        <!-- <a href="#" class="emo">&#127953;</a> -->
        <!-- <a href="#" class="emo">&#127954;</a> -->
    <!-- </div> -->
    <div class="grid-container" style="text-align: center;">
       <div class="Vaux"><p class="timer" style="font-weight: bold;">00</p>
       <p class="letter" style="margin-top: 0px;">Weeks</p></div>
       <div class="Vaux"><p class="timer" style="font-weight: bold;">00</p>
       <p class="letter">Days</p></div>
       <div class="Vaux"><p class="timer" style="font-weight: bold;">00</p>
       <p class="letter">Hours</p></div>
       <div class="Vaux"><p class="timer" style="font-weight: bold;">00</p>
       <p class="letter">Minutes</p></div>
       <div class="Vaux"><p class="timer" style="font-weight: bold;">00</p>
       <p class="letter">Seconds</p></div>
    </div>

    <br><br><br><br><br><br>

</div>
<div class="middle clearfix">
    <h1 style="color: black; font-size: 1.5rem; font-weight: 100; margin-top: 50px;">What you need to know <strong style="font-weight: bold;">about event</strong></h1>
    <hr class="dashed">
    <p style="font-weight: 100;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        Pulvinar dapibus litora..</p>
    <hr class="dashed">
    <div class="columns">
       <div class="c1">
        <h3 style="font-weight: 700;"><div class="icons"><i class="fas fa-bolt"></i></div>Fast & Snappy</h3>
           <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
       </div>
       <div class="c1">

           <h3 style="font-weight: 700;"><div class="icons"><i class="far fa-lightbulb"></i></div>Fresh ideas</h3>
           <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
       </div>
       <div class="c1">

           <h3 style="font-weight: 700;"><div class="icons"><i class="fas fa-sliders-h"></i></div>Costumizable</h3>
           <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
       </div>
    </div>
    </div>
    <div class="bottom clearfix">
        <h2 style="font-weight: 50;">Guest <strong style="font-weight: bold;">Speakers</strong></h2>
        <p>It has survived not only five centuries, but also the leap into electronic</p><br>
        <div class="speakers">
            <div class="sp1">
                <img src="https://images.unsplash.com/photo-1587837073080-448bc6a2329b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWVuJTIwZnJlZSUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Vishaal">
                <div class="names">
                <h5>Vishaal Arun</h5>
                <h5>Freelancer</h5></div>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
                <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                 <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <div class="sp1">
            <img src="https://images.unsplash.com/photo-1570701564993-e00652af8aa7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWVuJTIwZnJlZSUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Nithish">
             <div class="names">
                <h5>Nithish Kumar</h5>
                <h5>Enterpreneur</h5></div>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
                <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                 <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <div class="sp1">
            <img src="https://images.unsplash.com/photo-1578156409673-995ca9a8298e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVuJTIwZnJlZSUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Naveen">
            <div class="names">
                <h5>Naveen David George</h5>
                <h5>Dreamer</h5></div>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
                <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <div class="sp1">
                <img src="https://media.istockphoto.com/photos/human-crowd-forming-plus-sign-inside-of-a-human-head-shape-picture-id1323680854?b=1&k=20&m=1323680854&s=170667a&w=0&h=l2gyaFo1Ng88Nb-96uOy9wkDwF13RSpyVwYQj1m_2OQ=" alt="Add Person">
                <h4>Share your Thoughts with the World</h4>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting</p>
                <button class="htw">How to Apply?</button>
            </div>

        </div>
    </div><br><br>
    <div class="footer">
        <p class="foot">Copyright (C) Vuedata Corporation. All rights reserved.</p><br>
    </div>
<!-- </section> -->
</body>

</html>
